DELTA_API_KEY=your_key
DELTA_API_SECRET=your_secret
DELTA_BASE_URL=https://cdn-ind.testnet.deltaex.org
DELTA_SSL_VERIFY=false

POLL_INTERVAL_SECONDS=2
PNL_PROFIT_THRESHOLD_USD=10
PNL_LOSS_THRESHOLD_USD=-20
RATIO_SPREADS=1:2
LOG_LEVEL=INFO
